@{
    ViewData["Title"] = "Integração Jurídico";
}

<div class="row" style="width: 50%">
    <div>
        <h4 style="margin-top: 30px">Processos</h4>

        <table class="table table-responsive table-hover" style="color: #444040">

            <tr class="active">
                <th class="col-lg-3">
                    Data de distribuição
                </th>
                <th class="col-sm-10">
                    Número do processo
                </th>
            </tr>

            <tr style="cursor: pointer">
                <td class="col-lg-3">
                    20/03/2019
                </td>
                <td class="col-sm-10">
                    0599794-97.1991.8.02.0008
                </td>
            </tr>
            <tr style="cursor: pointer">
                <td class="col-lg-3">
                    22/03/2019
                </td>
                <td class="col-sm-10">
                    1782102-62.1994.8.05.0892
                </td>
            </tr>
        </table>

    </div>

</div>
