@{
    ViewData["Title"] = "Integração Jurídico";
}

<div class="row" style="width: 50%">
    <div>
        <h4 style="margin-top: 30px">Processos</h4>

        <table id="tabelaProcessos" class="table table-responsive table-hover">

            <tr>
                <th class="col-lg-3">
                    Data de distribuição
                </th>
                <th class="col-sm-10">
                    Número do processo
                </th>
            </tr>

        </table>

        <form id="formularioProcesso">
            <div class="container">
                <h3>Processo selecionado</h3>
                <hr>

                <label><b>Dados básicos</b></label><p>
                    <textarea class="texto" type="text" readonly="readonly" id="dadosBasicos" required></textarea>
                <p></p>

                <label><b>Movimentações</b></label>
                <p>
                    <textarea class="texto" type="text" readonly="readonly" id="movimentacoes" required></textarea>
            </div>
        </form>

    </div>

</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/VisualizarDadosProcesso.js"></script>
